<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css"
    integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
    integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
       <!-- Main content -->
       <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
        <div class="row admin-navbar">
            <div class="col-lg-8 col-md-8 col-sm-6 col-6">
                <span class="baby-b" style="color: white ; margin-left: 10px;">Baby Bundles</span>
            </div>
            <div class="col mt-3 user-profile">
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                </a>
            </div>
        </div>
<div class="container-fluid">
    <div class="row">
      
        <!-- The sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/adminDashboard">DASHBOARD</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="/admin/adminCustomers">CUSTOMERS</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link " href="/admin/adminProducts">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/adminOrders">ORDERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/adminReviews">REVIEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer">OFFERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/coupons">COUPONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/adminCategories">CATEGORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">LOGOUT</a>
                    </li>                </ul>
            </div>
        </nav>

       
