  <!-- Footer -->
  <footer class="text-lg-start text-white" style="background-color: #D7A2A2">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <div class="row">
        <!-- Grid column -->

        <!-- Grid column -->
      </div>
      <hr class="w-100 clearfix d-md-none" />
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-weight: 900;">Information</h6>
          <div class="d-flex flex-column">
            <a href="/footer/about" class="text-white mb-2">About Us</a>
            <a href="/footer/contact" class="text-white mb-2">Contact Us</a>
       
            <a href="/footer/deliveryInfo" class="text-white mb-2class="card-title"">Delivery Information</a>
          </div>
        </div>





        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-weight: 900;">Contact</h6>
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-envelope mr-3"></i> babybundels@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> +91 86 06 78 39 24</p>
        </div>
      </div>
    </div>

    <hr class="my-3">

    <!-- Section: Copyright -->
    <section class="p-3 pt-0">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-4 lg-8 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3">
            © 2023 Copyright:

            baby Bundles
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <div class="col-md-3 mx-auto mt-3">
          <h6 class=" mb-4 font-weight-bold">
            <span class="baby-b" style="color: white ; margin-left: 10px;">Baby Bundles</span>
          </h6>

        </div>

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4  text-center text-md-end">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
              class="fab fa-facebook-f"></i></a>

          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
              class="fab fa-twitter"></i></a>

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
              class="fab fa-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
              class="fab fa-instagram"></i></a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->




  <%- include('./common.ejs') %>


  </body>

  </html>