<div  class="overlay" id="loaderOverlay">
    <div class="spinner-border text-primary" role="status" id="loader">
        <span class="sr-only">Loading...</span>
    </div>
  </div>




<!-- Include jQuery first -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Then include Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js" integrity="sha256-kuoM7/Z00lbaqHRO9Vpa95aaMzlSTZiJIIvK46igrug=" crossorigin="anonymous"></script>
</body>
</html>