<%- include('./partials/header.ejs') %>
<%- include('./partials/admin-navbar.ejs') %>

     

    <!-- Page content -->
    <div class="col-lg-9 col-md-8 col-sm-12">
        <span class="welcome-text">WELCOME </span>
    </div>
  </div>
</div>



<%- include('./partials/adminfooter.ejs') %>
