<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<link rel="stylesheet" type="text/css" href="/faq.css">

<div class="main-container p-5">
    <h3>Frequently Asked Questions (FAQs)</h3>

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12 p-3">
                <h6>1. How can I track my order?</h6>
                <p>You can easily track your order by visiting our <a href="/order-tracking">Order Tracking</a> page. Enter your order number and email address to get the latest information on your shipment.</p>
            </div>

            <div class="col-lg-12 p-3">
                <h6>2. What is your return policy?</h6>
                <p>Our return policy is designed to be hassle-free. Learn more about our <a href="/returns">Returns and Exchanges</a> process to find out how you can return or exchange a product.</p>
            </div>

            <div class="col-lg-12 p-3">
                <h6>3. How can I contact customer support?</h6>
                <p>For any questions or concerns, our <a href="/contact-us">Customer Support Team</a> is here to help. You can reach out to us via email at support@yourstore.com or by calling [Your Contact Number].</p>
            </div>

            <div class="col-lg-12 p-3">
                <h6>4. Are there any discounts or promotions available?</h6>
                <p>We frequently offer discounts and promotions. Stay updated on our latest offers by visiting our <a href="/special-offers">Special Offers</a> page.</p>
            </div>

            <!-- Add more FAQ sections as needed -->

        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
