
<link rel="stylesheet" type="text/css" href="/checkOutPage.css">



 <div class="col-md-12"> 

    <form action="/order/saveAddress" method="POST">
        <h3>Add Your New Address Here</h3>
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>

        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" name="pincode" required>

        <label for="address">Address:</label>
        <textarea id="address" name="address" rows="4" required></textarea>

        <label for="landmark">Landmark:</label>
        <input type="text" id="landmark" name="landmark">

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" required>

        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" name="mobile" required>

        <button type="submit">SAVE</button>
        <button onclick="window.location.href='/order/addressPage'" type="button">CANCEL</button>

    </form>
</div> 
<script>
  
      
</script>
<%- include('./partials/footer.ejs') %>
