

<div class="success-icon">
    &#10004;
</div>

<p>Your order has been successfully placed!</p>

<div class="button-container">
    <a href="/home">
        <button>Continue Shopping</button>
    </a>
    <button onclick="window.location.href='/order/viewOrderPage'">View Order</button>

</div>
<script>
    
</script>
<style>
    body {
        text-align: center;
        margin: 20px;
    }

    .success-icon {
        color: green;
        font-size: 5em;
        margin-bottom: 20px;
    }

    .button-container {
        margin-top: 20px;
    }

    .button-container button {
        padding: 10px;
        font-size: 1em;
        margin: 0 10px;
    }
</style>
