<%- include('./partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/profile.css">


<h1>User Profile</h1>

<div class="container">
    <div class="row">
        <!-- Left Column for Profile Image -->
        <div class="col-md-6">
            <form action="/profile/updateProfile" method="POST" enctype="multipart/form-data">
                <!-- <input type="file" id="profileImage" name="profileImage"> -->
                <div class="profileImage-container">
                    <div class="profileImage-round">
                        <!-- <label for="photos" class="file-upload-label"> -->
                                <!-- <i class="fas fa-plus-circle fa-3x"></i> -->
                            <input type="file" id="photos" name="photos" accept="image/*" size="2000000" multiple
                                onchange="readURL(this)" style="display: none;">
                        </label>

                    </div>
                </div>
               
            </form>
        </div>

        <!-- Right Column for Form Details -->
        <div class="col-md-6">
            <form action="/profile/updateProfile" method="POST">
                <label for="fullName">Name:</label>
                <input type="text" id="fullName" name="fullName" value="<%= user ? user.fullName : '' %>" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= user ? user.email : '' %>" required>

                <!-- Add other input fields for additional profile information -->

                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</div>

<script>
     function readURL(input) {

if (input.files && input.files.length > 0) {

    var max = input.files.length;
    if (input.files.length > 5) {
        max = 5;
        alert("Maximum upload count is restricted to Five", input.files.length)
    }
    for (let i = 0; i < max; i++) {
        var reader = new FileReader();
        const img = document.createElement("img")
        img.className = "img-fluid imgPreview-img";
        reader.onload = function (e) {
            img.setAttribute('src', e.target.result);
            document.getElementById('imgPreview').appendChild(img);
        };

        reader.readAsDataURL(input.files[i]);
    }
}
}
</script>
<%- include('./partials/footer.ejs') %>
