<%- include('./partials/header.ejs') %>
<section class="login py-5">
    <div class="container login-container-div">
        <div class="row">
            <div class="col-lg-5  text-center pt-5">
                <span class="welcome-text mt-5">Welcome to <span class="baby-b">Baby Bundles</span> !</span>
                <br>
                <span class="welcome-text">Your One-Stop Shop for All Things Baby</span>
                <img src="/images/bottle.avif" class="img-fluid mt-3" alt="">

            </div>
            <div class="col-lg-7 right-side-div">
                <!-- call api in this function -->
                <form id="signup-form"  onsubmit="return submitForm(this)">

                    <div class="form-row ">
                        <label class="form-label">Full Name</label>
                        <div class="col-lg-10">

                            <input type="text" placeholder="Full Name" class="inp px-3" name="fullName" id="fullName">
                        </div>
                    </div>
                    <div class="form-row ">
                        <label class="form-label"> Email</label>
                        <div class="col-lg-10">

                            <input type="email" placeholder="Email" name="email" class="inp px-3" id="Email">
                        </div>
                    </div>
                    <div class="form-row ">
                        <label class="form-label"> Mobile Number</label>
                        <div class="col-lg-10">

                            <input type="number" placeholder="Mobile Number" name="number" class="inp px-3" id="number">
                        </div>
                    </div>

                    <div class="form-row ">
                        <label class="form-label"> Password</label>
                        <div class="col-lg-10">

                            <input type="password" placeholder="password" name="password" class="inp px-3" id="password">
                        </div>
                    </div>
                    <div id="referral-code-section" style="display: none;">
                        <div class="form-row">
                            <label class="form-label">Referral Code</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Enter Referral Code" name="refferalCodeByUser" class="inp px-3" id="referralCode">
                            </div>
                        </div>
                    </div>

                   <div class="register-link pt-5">
    <p style="padding-right: 4rem;">Do You Have A Referral Code?<a href="#" class="referral-link" onclick="OpenReferralLabel(event)">Click Here</a></p>
</div>


                    <!-- <p class="text-center pt-3" style="color: white; padding-right: 8rem;">Verify your number to create your Account</p> -->
                    <div class="form-row py-3 ">
                        <div class="col-lg-10">
                            <button type="submit" class="login-button">Send OTP</button>

                        </div>
                    </div>
                  
                    <div class="register-link">
                        <p style="padding-right: 4rem;">Already Have an Account?<a href="/">login</a></p>
                    </div>


                </form>

            </div>
        </div>
    </div>
    
    <!-- Modal Content  for otp popup box-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-body">
                    <form id="myModel" action="/signup/verify-otp" method="POST" onsubmit="return otpform(this)">
                        <div class="form-group">
                            <label for="otp">Enter the OTP sent to your number</label>
                            <input type="text" class="form-control otp-input" name="digits" maxlength="4" required>
                            <small id="error-message" class="text-danger"></small>
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 11px 6px 5px 11px;">Verify OTP</button>
                    </form>
            
                   
            
                    <button class="btn btn-link text-center pt-3" onclick="return resend()" id="resendLink">Resend OTP</button>
                

                </div>

            </div>
        </div>
    </div>




</section>

<%- include('./partials/common.ejs') %>

<script>
    function OpenReferralLabel(event) {
    event.preventDefault();
    
    var referralCodeSection = document.getElementById('referral-code-section');
    referralCodeSection.style.display = referralCodeSection.style.display === 'none' ? 'block' : 'none';
}

    // JavaScript function to open the modal of otp popup
    submitForm = (form) => {
        event.preventDefault(); // Prevent the default form submission

        $('#loaderOverlay').css('display', 'flex');

        var obj = {
            "fullName": form.elements.fullName.value,
            "password":form.elements.password.value,
            "email": form.elements.email.value,
            "number":form.elements.number.value,
            "refferalCodeByUser":form.elements.refferalCodeByUser.value,
        };

        fetch("/signup/send-otp", {
                method:"POST",
                body: JSON.stringify(obj),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
        if (response.status === 200) {
            $('#loaderOverlay').css('display', 'none');

            let message = response.json();
            openModal();
        } else if (response.status === 401) { // Unauthorized (incorrect password)
            response.json().then(data => {
                const errorMessage = data.error;
                // Display the error message under the email input field
                document.getElementById('error-message').textContent = errorMessage;
                $('#loaderOverlay').css('display', 'none');

            });
        } else {
            
            throw new Error('Network response was not ok.');
            $('#loaderOverlay').css('display', 'none');

        }
    })
    .catch(error => {
        console.error("Error:", error);
        $('#loaderOverlay').css('display', 'none');

    });
        // Prevent the form from performing its default submission behavior
        return false;
    }


    function openModal() {
        $('#myModal').modal('show');
    }

   
  

    function otpform(form) {
        $('#loaderOverlay').css('display', 'flex');

        var signupForm = document.getElementById('signup-form')
        var Userotp = {
            "fullName": signupForm.elements.fullName.value,
            "password":signupForm.elements.password.value,
            "email": signupForm.elements.email.value,
            "number":signupForm.elements.number.value,
            "otp": form.elements.digits.value,
            "refferalCodeByUser":signupForm.elements.refferalCodeByUser.value,

        }
        fetch(form.action, {
                method: form.method,
                body: JSON.stringify(Userotp),
                headers: {
                    'Content-Type': 'application/json',
                },
            })

            .then(response => {
                if (response.status == 200) {
                    // Redirect to another page
                    window.location.href = '/home';
                    $('#loaderOverlay').css('display', 'none');

                } else {

                    throw new Error('Network response was not ok.');
                    $('#loaderOverlay').css('display', 'none');

                }

            })
            .catch(error => {
                // Handle errors
                console.error("Error:", error);
                $('#loaderOverlay').css('display', 'none');

            });

        // Prevent the form from performing its default submission behavior
        return false;
    }

  
    function closeModal() {
        $('#myModal').modal('hide');
    }

    function resend() {
        console.log('resend')
        $('#loaderOverlay').css('display', 'flex');

        closeModal();
        event.preventDefault();
        var signupForm = document.getElementById('signup-form')

        submitForm(signupForm);

        return false;
    }
    

    function referralCodeForm(referralCode) {
   window.location.href="/signup/verify-otp?referralCode="+ referralCode;
}


  
</script>



